<h1>User info</h1>
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Kidlemail:</strong>
  <%= @user.kidlemail %>
</p>
<hr>
Back to
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'List', users_path %> |
<%= link_to 'Home', new_book_path %>
